/* Color Scheme: https://paletton.com/#uid=13G0u0kllllaFw0g0qFqFg0w0aF */
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
 background-color:#2C4770;
 color:rgba(250,250,250,0.8);
 font-family:"Droid Sans";
 letter-spacing:1.5px;
 text-align:center;
 font-size:1.2em;
}

#githubBanner {
 position:absolute;
 right:0px;
 top:0px;
}

#header {
 font-size:3em;
}

#globalMusicControl {
 background-color:#152D54;
 margin:1em;
 padding:1em 2em 1.5em 2em;
 display:inline-block;
}

.sequence {
 height:3em;
}
.sequence.error textarea {
 background-color:red;
}

.sequence input {
 vertical-align:top;
 height:100%;
 width:4em;
 text-align:center;
 color:inherit;
 font:inherit;
 margin-left:0.3em;
 padding-left:0.75em;
 border:none;
 background-color:#051938;
}
.sequence textarea {
 box-sizing:border-box;
 resize:none;
 height:100%;
 overflow-y:auto;
 padding:0.9em;

 border:none;
 background-color:#051938;

 color:inherit;
 font:inherit;
 letter-spacing:2px;
}
.sequence .soundTranslation {
 position:relative;
 display:inline-block;
 box-sizing:border-box;
 overflow-x:auto;
 width:200px;
 height:100%;
 vertical-align:top;
 color:black;
 background-color:white;
}
.musicControl {
 display:inline-block;
 box-sizing:border-box;
 height:100%;
 text-align:center;
 vertical-align:top;
 padding:0px 0.25em;
}


#globalMusicControl div[id^="button-"] {
 display:inline-block;
 font-size:2em;
 vertical-align:top;
}
.musicControl div[class^="button-"].inactive {
 opacity:0.1;
}
.musicControl div[class^="button-"] {
 font-size:1.4em;
 line-height:1em;
}
div[class^="button-"]:hover, div[id^="button-"]:hover {
 opacity:0.8;
 cursor:pointer;
}

.musicControl .button-stop:before, #button-stopAll:before {
  content:"\25A0";
}
.musicControl .button-play:before, #button-playAll:before {
 content:"\25B6";
}


/* Visualization */
.visualBox {
 position:absolute;
}
.visualBox.active {
 background-color:red !important;
}
.visualBox.rest {
 opacity:0;
}
